# Direktori dan file pribadi
__pycache__/
downloads/
private/
tests/
.vscode/
google-images-download/
.cache/
.env
nugasinn.7.session
token.txt
notes.txt
requirements_backup.txt
.python-version
ffmpeg.exe

# File konfigurasi & sementara
confession_map.json

# # Gambar
# *.jpg
# *.jpeg
# *.png
# *.gif

# Track media folder
!media/
media/*
!media/ultahkos.png
!media/confetti.png
!media/balloon.png
!media/head.png
!media/tail.png
!media/flip.gif
!media/dice-1.png
!media/dice-2.png
!media/dice-3.png
!media/dice-4.png
!media/dice-5.png
!media/dice-6.png
!media/dice-game.gif


