version: '3.9'

services:
  madbot-service:
    build: .
    container_name: madbot-service
    restart: unless-stopped
    environment:
      - TZ=Asia/Jakarta
    depends_on:
      - madbot-db
    env_file:
      - .env
    # ports:
    #   - "8000:8000"
    volumes:
      - .:/app
    # command: python main.py


  madbot-db:
    image: mysql:8.0
    container_name: madbot-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_PASS}
      MYSQL_DATABASE: ${MYSQL_DB}
    ports:
      - "3306:3306"
    volumes:
      - db_volume:/var/lib/mysql


volumes:
  db_volume:
